/* global varibale */
:root {
    --theme-green:     #005c31;
    --theme-blue:      #141951;
    --theme-white:     #ffffff;
 
 }

 .text-title {
    color: var(--theme-blue);
    font-size: 32px;
    font-weight: 700;
 }
 .text-subtitle {
    color: var(--theme-green);
    font-size: 28px;
    font-weight: 400px;
 }
 .theme-bg-white {
    background-color: var(--theme-white) ;
 }
 .profile {
    font-size: 50px;
 }
 .caption-2 figcaption {
   width: 80%;
   position: absolute;
   bottom: 1rem;
   left: 10%;
   background: rgba(255, 255, 255, 0.6);
 }