{% extends 'base.html' %}

{% block content %}
<div class=" Dashboard">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg ">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Navbar brand -->
          <a class="navbar-brand mt-2 mt-lg-0" href="{{ url_for('dashboard')}}">
            <img
              src="static/img/logo.png"
              height="60"
              alt="MDB Logo"
              loading="lazy"
            />
          </a>
          
          <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">
          <!-- Icon -->
          <a
          class="text-reset me-3 "
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          aria-expanded="false"
        >
          <i class="fas fa-bell"></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>

          <!-- Notifications -->
          
          <!-- Avatar -->
          <div class="dropdown">
            <a
              class="dropdown-toggle d-flex align-items-center hidden-arrow"
              href="#"
              id="navbarDropdownMenuAvatar"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                class="rounded-circle"
                height="40"
                alt="Black and White Portrait of a Man"
                loading="lazy"
              />
            </a>
          </div>
        </div>
        <!-- Right elements -->
      </div>
      <!-- Container wrapper -->
    </nav>
<!-- Navbar -->
    <div class="container-fluid">
      <div class="row">
          <div class="side-bar col-2">
            <div class="profile d-flex justify-content-center"><i class="bi bi-person-circle" ></i></div><br>
            <h3 class="text-title d-flex justify-content-center">Dashboard</h3>
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <i class="bi bi-person"> Pages</i>
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <ul>
                      <li><a href="#" class=" list-group-item list-group-item-action"><i class="bi bi-person-fill"> Account</i></a></li>
                    <li><a href="#" class=" list-group-item list-group-item-action"><i class="bi bi-person-fill">My profile</i></a></li>
                    
                    <li><a href="#" class=" list-group-item list-group-item-action"><i class="bi bi-people"> Team</i></a></li>
                    <li><a href="#" class=" list-group-item list-group-item-action"><i class="bi bi-bag"> Orders</i></a></li>
                    <li><a href="#" class=" list-group-item list-group-item-action"><i class="bi bi-receipt"> Invoice</i></a></li>
                    <li><a href="#" class=" list-group-item list-group-item-action"><i class="bi bi-file-post"> Pricing</i></a></li>
                  </ul>  
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <i class="bi bi-kanban"> Farm Management</i>
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <a class="badge rounded-pill bg-light text-dark" id="new-user"><i class="bi bi-plus-circle"> Add</i></a>
                    <a class="list-group-item list-group-item-action .d-none d-sm-block"><i class="bi bi-pencil-square"> Edit</i></a>
                    <!-- only on mobile -->
                    
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <i class="bi bi-shop"> Blog</i>
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <a class="badge rounded-pill bg-light text-dark" id="add-item"><i class="bi bi-plus-circle"> Add Item</i></a>
                    <!-- <button id="add-item" type="button">add</button> -->
                    <a class="badge rounded-pill bg-light text-dark" id="edit-item"><i class="bi bi-pencil-square"> Edit Item</i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content col-10">
            <!--User-->
            <div class="dash-home mt-7">
              <div class=" container widget-1 row p-3" id="widget-1">
                <div class="card col" style="width: 22rem">
                  <div class="card-body">
                    <div class="lead">Total Site visits</div>
                    <h2 class="card-title">600views</h2>
                    <p class="small text-muted">Aug 1 - Dec 31,<i class="fa fa-globe"></i> Nairobi</p>
                  </div>
                </div>
                <div class="card" style="width: 22rem">
                  <div class="card-body">
                    <div class="lead">Customers</div>
                    <h2 class="card-title" style="font-size:1.8em;">852k</h2>
                    <p class="small text-muted">Oct 1 - Dec 31,<i class="fa fa-globe"></i> Nairobi</p>
                    <p class="text-success">
                      <i class="fa fa-angle-up"></i> 27.4%
                      <span style="font-size: 0.9em" class="ms-2 text-muted">Since last quarter</span>
                    </p>
                  </div>
                </div>
                <div class="card col" style="width: 22rem">
                  <div class="card-body">
                    <div class="lead">Total Site visits</div>
                    <h2 class="card-title">600views</h2>
                    <p class="small text-muted">Aug 1 - Dec 31,<i class="fa fa-globe"></i> Nairobi</p>
                  </div>
                </div>
                <div class="card col" style="width: 22rem">
                  <div class="card-body">
                    <div class="lead">Total Site visits</div>
                    <h2 class="card-title">600views</h2>
                    <p class="small text-muted">Aug 1 - Dec 31,<i class="fa fa-globe"></i> Nairobi</p>
                  </div>
                </div>
                
              </div>
              <div class=" container widget-2 row p-3" id="widget-2">
                <div class="card col" style="width: 39rem">
                  <div class="card-body p-0">
                    <div class="pane py-2 px-3 border-bottom">
                      <div>
                        <h2 class="card-title mb-3 mt-0 lead">Order History</h2>
                        <p class="text-muted">
                          Manage billing information and view receipts
                        </p>
                      </div>
                    </div>
                    <div class="pane py-2 px-3 border-bottom">
                      <div>
                        <h2 class="card-title mb-3 mt-0 h6">Invoice #120345</h2>
                        <p class="text-muted">Billed August 21, 2019</p>
                      </div>
                      <button class="btn btn-flat btn-sm btn-outline-success ms-auto">
                        Pay now
                      </button>
                    </div>
                    <div class="pane py-2 px-3">
                      <div>
                        <h2 class="card-title mb-3 mt-0 h6">Invoice #120344</h2>
                        <p class="text-muted">Billed July 21, 2019</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 py-1">
                  <div class="card">
                      <div class="card-body">
                          <canvas id="chBar"></canvas>
                      </div>
                  </div>
              </div>
                
              </div>
            </div>
            <!--forms-->
            <section class="Add-a-user" id="user-form" style="display: none;">
              <h3 class="d-flex justify-content-center">Add user</h3>
              <div class="register-user d-flex align-items-center justify-content-center">
                
                <form>
                  <div class="mb-3">
                    <label for="UserEmail" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="UserEmail" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">Company email of the user.</div>
                  </div>
                  <div class="mb-3">
                    <label for="userPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="userPassword">
                  </div>
                  <label for="permission" class="label">Member of </label>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Admin
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      User
                    </label>
                  </div>
                  <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
            </section>
            <section class="Add-a-Product " id="item-form" style="display: none;">
              <h3 class="d-flex justify-content-center">Add Product</h3>
            <div class="d-flex align-items-center justify-content-center" id="add-item">
                
                <form>
                  <div class="mb-3">
                    <label for="Product-name" class="form-label">Product name</label>
                    <input type="text" class="form-control" id="Product-name" aria-describedby="productHelp">
                    <div id="productHelp" class="form-text">Name of the product </div>
                  </div>
                  <div class="mb-3">
                    <label for="short-desc" class="form-label">Short Description</label>
                    <input type="text" class="form-control" id="short-desc">
                  </div>
                  <div class="mb-3">
                    <label for="long-desc" class="form-label">Long Description</label>
                    <input type="text" class="form-control" id="long-desc">
                  </div>
                  <div class="mb-3">
                    <label for="formFileSm" class="form-label">Image</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="file">
                  </div>
                  <div class="btn-group dropend">
                    
                    <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                      <option selected>Select Category</option>
                      <option value="Vitamins">Vitamins</option>
                      <option value="3">something else</option>
                    </select>
                  </div><br><br>
                  <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
            </section>
          </div>
      </div>
  </div>

  </div>
  {% endblock %}