{% extends 'base.html' %}

{% block content %}

<!-- Navbar -->
<div class="container-fluid">
  <div class="row">
    <div class="content col-10">
      <!--User-->
      <div class="dash-home mt-7">
        <div class=" container widget-1 row p-3" id="widget-1">
          <div class="card col" style="width: 22rem">
            <div class="card-body">
              <div class="lead">
                <h2 class="card-title">{{city}}</h2>
              </div>
              <p class="small text-muted">{{temp_rnd}} <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                  fill="currentColor" class="bi bi-thermometer-sun" viewBox="0 0 16 16">

                  <path d="M5 12.5a1.5 1.5 0 1 1-2-1.415V2.5a.5.5 0 0 1 1 0v8.585A1.5 1.5 0 0 1 5 12.5z" />
                  <path
                    d="M1 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0V2.5zM3.5 1A1.5 1.5 0 0 0 2 2.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0L5 10.486V2.5A1.5 1.5 0 0 0 3.5 1zm5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0v-1a.5.5 0 0 1 .5-.5zm4.243 1.757a.5.5 0 0 1 0 .707l-.707.708a.5.5 0 1 1-.708-.708l.708-.707a.5.5 0 0 1 .707 0zM8 5.5a.5.5 0 0 1 .5-.5 3 3 0 1 1 0 6 .5.5 0 0 1 0-1 2 2 0 0 0 0-4 .5.5 0 0 1-.5-.5zM12.5 8a.5.5 0 0 1 .5-.5h1a.5.5 0 1 1 0 1h-1a.5.5 0 0 1-.5-.5zm-1.172 2.828a.5.5 0 0 1 .708 0l.707.708a.5.5 0 0 1-.707.707l-.708-.707a.5.5 0 0 1 0-.708zM8.5 12a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0v-1a.5.5 0 0 1 .5-.5z" />
                </svg><i class="fa fa-globe"></i></p>
              <h4 class="card-title">Description: <i class="fa fa-cloud" aria-hidden="true"></i></h4>
              <p class="small text-muted">{{desc}}<i class="fa fa-globe"></i></p>
            </div>
          </div>
          <div class="card" style="width: 22rem">
            <div class="card-body">
              <div class="lead">Customers</div>
              <h2 class="card-title" style="font-size:1.8em;">852k</h2>
              <p class="small text-muted">Oct 1 - Dec 31,<i class="fa fa-globe"></i> Nairobi</p>
              <p class="text-success">
                <i class="fa fa-angle-up"></i> 27.4%
                <span style="font-size: 0.9em" class="ms-2 text-muted">Since last quarter</span>
              </p>
            </div>
          </div>
          <div class="card col" style="width: 22rem">
            <div class="card-body">
              <div class="lead">Total Site visits</div>
              <h2 class="card-title">600views</h2>
              <p class="small text-muted">Aug 1 - Dec 31,<i class="fa fa-globe"></i> Nairobi</p>
            </div>
          </div>
          <div class="card col" style="width: 22rem">
            <div class="card-body">
              <div class="lead">Total Site visits</div>
              <h2 class="card-title">600views</h2>
              <p class="small text-muted">Aug 1 - Dec 31,<i class="fa fa-globe"></i> Nairobi</p>
            </div>
          </div>

        </div>
        <div class=" container widget-2 row p-3" id="widget-2">
          <div class="card col" style="width: 39rem">
            
            <div class="card-body p-0">
              <div class="pane py-2 px-3 border-bottom">
                <div>
                  <h2 class="card-title mb-3 mt-0 lead">Blog History</h2>
                  <!-- <p class="text-muted">
                        Manage billing information and view receipts
                      </p> -->
                </div>
              </div>
              {% for blog in blogs %}
              <div class="pane py-2 px-3 border-bottom">
                <div>
                  <h2 class="card-title mb-3 mt-0 h6">{{blog.title}}</h2>
                  <p class="text-muted">{{blog.body}}</p>
                </div>
                <button class="btn btn-flat btn-sm btn-outline-success ms-auto">
                  Read More.
                </button>
                {% for user in users if user["id"] == blog.author_id %}
                <p>Posted By: {{user.first_name}}</p>
                {% endfor %}
              </div>
              {% endfor %}
              <!-- <div class="pane py-2 px-3">
                    <div>
                      <h2 class="card-title mb-3 mt-0 h6">Invoice #120344</h2>
                      <p class="text-muted">Billed July 21, 2019</p>
                    </div>
              </div> -->
            </div>
            
          </div>  
          <div class="card" style="width: 25rem">

            <div class="card-body p-1">
              <div class="pane border-bottom p-3">
                <img class="pane-img pane-sm" src="/img/pane/pane2.png" />
                <p class="card-text m-0 ms-3"></p>
                <div class="dropdown ms-auto">
                  <button class="btn btn-white btn-flat me-0" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="text-dark fa fa-ellipsis-h"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                      <span class="dropdown-item disabled" href="#">Edit Profile</span>
                    </li>
                    <li><span class="dropdown-item divider" href="#"></span></li>
                    <li><span class="dropdown-item" href="#">Action 1</span></li>
                    <li><span class="dropdown-item" href="#">Action 2</span></li>
                  </ul>
                </div>
              </div>
              <img class="card-img img-fluid rounded-0 my-3" src="/img/cardbg.png" />
              <div class="mx-2 mb-4">
                <h2 class="card-title">A Dummy blog title sample</h2>
                <p class="card-text text-muted mb-5">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo
                </p>
                <div>
                  <button class="btn btn-dark py-1 px-2"><i class="fa fa-arrow-up ps-0"></i> 11</button>
                  <button class="btn btn-dark py-1 px-2">
                    <i class="fa fa-arrow-down ps-0"></i>
                    2
                  </button>
                </div>
                <div class="my-2">
                  <button flat class="p-0 btn btn-flat">
                    <i class="fa fa-comments"></i>
                    21.4k
                  </button>
                  <button class="p-0 btn btn-flat">
                    <i class="fa fa-share"></i>
                    Share
                  </button>
                  <button class="btn btn-warning text-dark py-1">
                    <i class="fa fa-save"></i>
                    Save
                  </button>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-6 py-1">
                  <div class="card">
                      <div class="card-body">
                          <canvas id="chBar"></canvas>
                      </div>
                  </div>
              </div> -->

          </div>
        </div>

      </div>

    </div>
  </div>
</div>
{% endblock %}