{% extends 'base.html' %}

{% block content %}
<div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="#">Posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Notification</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
<div class="row align-items-center">
    <div class="row py-5">

        <div class="col-lg-4">
          <figure class="caption-2 mb-0 shadow-sm border border-white border-md">
            <img src="https://i.postimg.cc/pTkkKvN6/14.jpg" alt="" class="w-100">
            <figcaption class="p-4 bg-white">
              <h2 class="h5 font-weight-bold mb-2 font-italic">Image Caption 1</h2>
              <p class="mb-0 text-small font-italic text-muted">Lorem ipsum dolor sit amet, consect adipisicing elit.</p>
            </figcaption>
          </figure>
        </div>

        <div class="col-lg-4">
          <figure class="caption-2 mb-0 shadow-sm border border-white border-md">
            <img src="https://i.postimg.cc/sgRHWsv3/16.jpg" alt="" class="w-100">
            <figcaption class="p-4 bg-white">
              <h2 class="h5 font-weight-bold mb-2 font-italic">Image Caption</h2>
              <p class="mb-0 text-small font-italic text-muted">Lorem ipsum dolor sit amet, consect adipisicing elit.</p>
            </figcaption>
          </figure>
        </div>

        <div class="col-lg-4">
          <figure class="caption-2 mb-0 shadow-sm border border-white border-md">
            <img src="https://i.postimg.cc/TwhtxPHJ/18.jpg" alt="" class="w-100">
            <figcaption class="p-4 bg-white">
              <h2 class="h5 font-weight-bold mb-2 font-italic">Image Caption</h2>
              <p class="mb-0 text-small font-italic text-muted">Lorem ipsum dolor sit amet, consect adipisicing elit.</p>
            </figcaption>
          </figure>
        </div>
      </div>
  
  
</div>

{% endblock %}
