{% extends 'dashboard.html' %}

{% block content %}
<div class="row row-cols-md- row-cols-sm- content-section" id="vitamins">
    {% for product in products %}
        <div class="col-md-2 col-sm-3 pb-2 pt-2 p-2 edit-item">
            <div class="card d-flex h-100 kivuli ">
                <img class="card-img-top itemimg center" src="/static/images/{{product.image_url }}"
                    alt="card image cap">
                <div class="card-body">
                    <!-- <h5 class="itemname d-flex">{{ product.id }}</h5> -->

                    <h5 class="itemname d-flex">{{ product.name }}</h5>
                    <!-- <p class="card-text itemdesc">Desc: {{ product.short_description }}
                    </p> -->
                    
                </div>
                <!-- <h5 class="d-flex justify-content-center per-off"> 15% Off</h5> -->
                <!-- <div class="card_footer text-center d-flex align-items-center row">
                    <h5 class="pricetag col">Was ksh <s>{{product.price}}</s> <br>Now ksh {{ product.price * 0.05 }}</h5>
                    <h5 class="order col" ><a href="https://api.whatsapp.com/send?phone=+254790747474&text=hello%20malibu pharmacy!" target="_blank">order</a>
                </div> -->
                <div class="row edit d-flex justify-content-center">
                    <button class="btn btn-primary " type="submit"><i class="bi bi-pencil">Edit</i> </button>
                    <button class="btn btn-danger" type="submit"><i class="bi bi-trash">Delete</i></button>
                </div>
                                                 
            </div>
            
        </div>
    {% endfor %}
    <i class="bi bi-trash"></i>
</div>
{% endblock %}